<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Class Details</title>
      {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<center>
<div class="col-sm-4">
    <div class="card bg-light mb-3 shadow" style="max-width: 840px; border-radius: 25px;">
	<div class="card-body">
  <h4 class="text-center alert alert-info">Add Class</h4>
    <form  method="POST" action="/data/">
    {% csrf_token %}
        <INPUT TYPE="number" class="form-control" placeholder="Class"><br>
        <INPUT TYPE="text" class="form-control" placeholder="Division"><br>
        <a href="#" class="btn btn-primary" data-toggle="button" aria-pressed="false">
            +Add Class
        </a>
    </form></div></div></div>
</center>
  <!--   Core JS Files   -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>

</body>
</html>