<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Chapter</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<center>
    <div class="col-sm-4">
  <h4 class="text-center alert alert-info">Add new Chapter</h4>
    <form  method="POST" action="/data/">
    {% csrf_token %}
         <div class="input-group mb-3">
            <select class="custom-select" id="Class_id">
                <option selected>Select Class</option>
                <option value="1"></option>
            </select>
        </div>
        <div class="input-group mb-3">
            <select class="custom-select" id="Subject_id">
                <option selected>Select Subject</option>
                <option value="1"></option>
            </select>
        </div>
        <INPUT TYPE="text" class="form-control" placeholder="Chapter name" id="Chapter_name"><br>
        <INPUT TYPE="number" class="form-control" placeholder="Chapter credit" id="Chapter_credit"><br>
        <INPUT TYPE="number" class="form-control" placeholder="Remembarence credit" id="Remembarence_credit"><br>
        <INPUT TYPE="number" class="form-control" placeholder="Applied Knowledge credit" id="Applied_Knowledge_credit"><br>
        <INPUT TYPE="number" class="form-control" placeholder="Understanding credit" id="Understanding_credit"><br>
        <a href="#" class="btn btn-primary" data-toggle="button" aria-pressed="false">
            +Add Chapter
        </a>
    </form>
 </div>
</center>

  <!--   Core JS Files   -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>

</body>
</html>