{% extends 'user/prin_sidebar.html' %}

{% block feedback %} active {% endblock %}

{% block body %}

<center>

	<div class="card bg-light mb-3 shadow " style="max-width: 840px; border-radius: 25px;">
	<div class="card-body">
                <b><h4>Educator Performance </h4>
            <h6>Based On Feedback Gathered And Performances Of Students</h6></b><br>
        <canvas id="myChart" arial-label="chart" role="img" width="400" height="150"></canvas>
    <script>var ctx = document.getElementById("myChart").getContext("2d")
		var myChart=new Chart(ctx, {
			type: "doughnut",
			data: {
			labels: ["Communication Skill","Teaching Skill","Subject Understanding"],
			datasets: [
			{
			data: [20,25,15],
			backgroundColor:["#0099FF","#9933FF","#FF99FF"],
			borderColor: ["black","black","black"],
			},
		],
		},
	});
	</script>
	</div>
	</div>
<br>

	<div class="card bg-light mb-3 shadow " style="max-width: 840px; border-radius: 25px;">
	<div class="card-body">
        <div class="row">
            <div class="col-sm-6 offset-1">
        <table class="table table-hover">
            <thead>
            <th scope="col"><h4><b> Educator Feedback </b></h4><br></th>
            </thead>
            <tbody>
            <tr>
                <td scope="row" colspan="2">Shah Nishil</td>
            </tr>
            </tbody>
        </table>
            </div>
        </div>
    </div>
    </div>
</center>
{% endblock %}
