{% extends 'user/teac_sidebar.html' %}

{% block feedback %} active {% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" class="navbar fixed-top navbar-light bg-light">
<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">SPAPAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
<!--<div class="nav justify-content-end"> -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
            </li>
        </ul>
<!--</div> -->
  </div>
</nav>
</nav>
{% endblock %}

{% block body %}

<center>
	<div class="card bg-light mb-3 shadow " style="max-width: 840px; border-radius: 25px;">
	<div class="card-body">
        <b><h4>Educator Performance </h4>
            <h6>Based On Feedback Gathered And Performances Of Students</h6></b><br>
        <canvas id="myChart" arial-label="chart" role="img" width="400" height="150"></canvas>
    <script>var ctx = document.getElementById("myChart").getContext("2d")
		var myChart=new Chart(ctx, {
			type: "doughnut",
			data: {
			labels: ["Communication Skill","Teaching Skill","Subject Understanding"],
			datasets: [
			{
			data: [20,25,15],
			backgroundColor:["#0099FF","#9933FF","#FF99FF"],
			borderColor: ["black","black","black"],
			},
		],
		},
	});
	</script>
	</div>
	</div>
<br>
	<div class="card bg-light mb-3 shadow " style="max-width: 840px; border-radius: 25px;">
	<div class="card-body">

    <div class="row">
            <div class="col-sm-6 offset-1">
        <table class="table table-hover">
            <thead>
            <th scope="col"><h4><b>Educator Feedback </b></h4><br></th>
            </thead>
            <tbody>
            <tr>
                <td scope="row" colspan="2">Shah Nishil</td>
            </tr>
            </tbody>
        </table>
            </div>
        </div>
    </div>
    </div>
</center>
{% endblock %}
