<!doctype html>

{% load widget_tweaks %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page_context.titleTag }}</title>
  </head>
  <body>
    <div style="margin-top: 50px;" class="container h-100">
      <div style="text-align: center"><h1><i><b>{{ page_context.title }}</b></i></h1></div>
        <br />
      <div class="row justify-content-center">
          <ul style="border: none; margin: 30px;" class="list-group">
            <li type="None" style="border: none;" class="nav-header disabled"><h4>Login & Logout</h4></li>
            <li style="border: none;" class="list-group-item"><a href="{% url 'MySchoolHome:login' %}">Login</a></li>
            <li style="border: none;" class="list-group-item"><a href="{% url 'MySchoolHome:logout' %}">Logout</a></li>
            <li style="border: none;" class="list-group-item"><a href="http://127.0.0.1:8000/admin/">Admin</a></li>
          </ul>

          <ul style="border: none; margin: 30px;" class="list-group">
            <li type="None" style="border: none;" class="nav-header disabled"><h4>Primary Navigation</h4></li>
            <li style="border: none;" class="list-group-item"><a href="{% url 'MySchoolHome:home' %}">Home</a></li>
            <li style="border: none;" class="list-group-item"><a href="{% url 'MySchoolHome:test' %}">Test</a></li>
          </ul>

          <ul style="border: none; margin: 30px;" class="list-group">
            <li type="None" style="border: none;" class="nav-header disabled"><h4>Line Of Code Metric</h4></li>
            <li style="border: none;" class="list-group-item"><h6>Number of lines in Python : {{ py }}</h6></li>
            <li style="border: none;" class="list-group-item"><h6>Number of lines in HTML : {{ html }}</h6></li>
            <li style="border: none;" class="list-group-item"><h6>Number of lines in Text files : {{ txt }}</h6></li>
            <li style="border: none;" class="list-group-item"><h6>Number of lines in JSON : {{ json }}</h6></li>
          </ul>

      </div>
    </div>




    <footer style="bottom: 0;position: fixed; width: 100%;background-color: #fdfdfd" class="page-footer font-small blue pt-4">
      <div style="margin-bottom: 20px;" class="footer-copyright text-center mx-auto py-3 text-muted credit">Crafted with ❤ by
          {{ page_context.footerCreatedBy|safe }}
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>