{% extends 'stu_sidebar.html' %}

{% block dashboard %} active {% endblock %}

{% block body %}
<div>
    <center>
        <div class="card bg-light mb-3 shadow " style="max-width: 840px; border-radius: 25px;">
	<div class="card-body">
        <h6>Performance Based On Formative Assessment</h6>
	<canvas id="bar" arial-label="chart" role="img" width="500" height="150"></canvas>
    <script>var ctx = document.getElementById("bar").getContext("2d")
		var bar=new Chart(ctx, {
			type: "bar",
			data: {
			labels: ["student1","student2","student3","student4","student5","student6","student7","student8","student9","student10"],
			datasets: [
			{
			label :"Subject Performance",
			data:[45,97,67,23,65,45,45,87,67,23],
			backgroundColor:["#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF"],
			},
		],
		},
		options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        }
                    }]
                }
        }
	});
	</script>
	</div>
	</div>

	<div class="card bg-light mb-3 shadow " style="max-width: 840px; border-radius: 25px;">
	<div class="card-body">
        <h4> Overall Performance </h4>
        <h6>Based on Formative Assesment Data Collected</h6>
	<canvas id="line" arial-label="chart" role="img" width="400" height="150"></canvas>
    <script>var ctx = document.getElementById("line").getContext("2d")
		var radar=new Chart(ctx, {
			type: "radar",
			data: {
			labels: ["Unit tests","Assignments","Practicals","Mid Sem","Final Exam"],
			datasets: [
			{
			label :"Class Overall Performance",
			data: [80,80,80,80,80],
			backgroundColor:["#0000FF"],
			borderColor: ["black"],
			},
		],
		},
	});
	</script>
	</div>
	</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card bg-light mb-3 shadow " style="max-width: 280px; border-radius: 25px;">
	<div class="card-body">
        <h4>Reading Skill</h4><br>
        <canvas id="myChart" arial-label="chart" role="img" width="150" height="150"></canvas>
    <script>var ctx = document.getElementById("myChart").getContext("2d")
		var myChart=new Chart(ctx, {
			type: "doughnut",
			data: {
			labels: ["Reading Skill","Total"],
			datasets: [
			{
			data: [20,80],
			backgroundColor:["#0099FF"],
			borderColor: ["black","black"],
			},
		],
		},
	});
	</script>
        <br><h4><b>20%</b></h4>
	</div>
	</div>
    </div>

    <div class="col-sm-4">
        <div class="card bg-light mb-3 shadow " style="max-width: 280px; border-radius: 25px;">
	<div class="card-body">
        <h4>Application Skill</h4><br>
        <canvas id="myChart2" arial-label="chart" role="img" width="150" height="150"></canvas>
    <script>var ctx = document.getElementById("myChart2").getContext("2d")
		var myChart=new Chart(ctx, {
			type: "doughnut",
			data: {
			labels: ["Application Skill","Total"],
			datasets: [
			{
			data: [20,80],
			backgroundColor:["#0099FF"],
			borderColor: ["black","black"],
			},
		],
		},
	});
	</script>
               <br><h4><b>20%</b></h4>
	</div>
	</div>
    </div>

    <div class="col-sm-4">
        <div class="card bg-light mb-3 shadow " style="max-width: 280px; border-radius: 25px;">
	<div class="card-body">
        <h4>Understanding Skill</h4><br>
        <canvas id="myChart1" arial-label="chart" role="img" width="150" height="150"></canvas>
    <script>var ctx = document.getElementById("myChart1").getContext("2d")
		var myChart=new Chart(ctx, {
			type: "doughnut",
			data: {
			labels: ["Understanding Skill","Total"],
			datasets: [
			{
			data: [20,80],
			backgroundColor:["#0099FF"],
			borderColor: ["black","black"],
			},
		],
		},
	});
	</script>
               <br><h4><b>20%</b></h4>
	</div>
	</div>
    </div>

</div>

    <div class="card bg-light mb-3 shadow " style="max-width: 840px; border-radius: 25px;">
	<div class="card-body">
        <h6>Performance Based On Formative Assessment Topic Wise</h6>
	<canvas id="bargraph" arial-label="chart" role="img" width="500" height="150"></canvas>
    <script>var ctx = document.getElementById("bargraph").getContext("2d")
		var bar=new Chart(ctx, {
			type: "bar",
			data: {
			labels: ["student1","student2","student3","student4","student5","student6","student7","student8","student9","student10"],
			datasets: [
			{
			label :"Subject Performance",
			data:[45,97,67,23,65,45,45,87,67,23],
			backgroundColor:["#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF","#0000FF"],
			},
		],
		},
		options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        }
                    }]
                }
        }
	});
	</script>
	</div>
	</div>

</center>

{% endblock %}
