<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add User</title>
        {% load static %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

    <body>
        <center>
        <div class="col-sm-4">
            <div class="card bg-light mb-3 shadow " style="max-width: 840px; border-radius: 25px;">
                <div class="card-body">
                      <h4 class="text-center alert alert-info">Add New User</h4>
                        <form  method="POST" action="/data/">
                        {% csrf_token %}
                             <div class="input-group mb-3">
                                <select class="custom-select" id="Role_id">
                                    <option selected>Select Type</option>
                                    <option value="1">Student</option>
                                    <option value="2">Teacher</option>
                                    <option value="3">Staff</option>
                                </select>
                             </div>
                             <div class="input-group mb-3">
                                <select class="custom-select" id="Class">
                                    <option selected>Select Class</option>
                                    <option value="1"></option>
                                </select>
                            </div>
                            <INPUT TYPE="text" class="form-control" placeholder="Username" id="Username"><br>
                            <div class="row">
                                <div class="col">
                                    <INPUT TYPE="text" class="form-control" placeholder="Firstname" id="Firstname"><br>
                                </div>
                                <div class="col">
                                    <INPUT TYPE="text" class="form-control" placeholder="Lastname" id="Lastname"><br>
                                </div>
                            </div>
                            <INPUT TYPE="email" class="form-control" placeholder="Email_id" id="Email_id"><br>
                            <INPUT TYPE="password" class="form-control" placeholder="Password" id="Password"><br>
                            <INPUT TYPE="text" class="form-control" placeholder="Re-enter_password" id="Re-enter_password"><br>
                            <a href="#" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                                +Add User
                            </a>
                        </form>
                </div>
            </div>
         </div>
        </center>

        <!--   Core JS Files   -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
