{% extends 'staff_sidebar.html' %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" class="navbar fixed-top navbar-light bg-light">
    <nav class="navbar fixed-top navbar-light bg-light">
          <a class="navbar-brand" href="#">SPAPAS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="classDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Class
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="subjectDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Subject
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
              </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Chapter Details
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/subject_detail">Subject Details</a>
                            <a class="dropdown-item" href="/topic_detail">Topic Details</a>
                    </li>
                </ul>
          </div>
    </nav>
</nav>

{% endblock %}

{% block body %}

        <div class="row">
            <div class="col-sm-2 offset-9" >
        <a href="/add_chapter" class="btn btn-primary" data-toggle="button" aria-pressed="false">
            +Add Chapter
        </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-10 offset-1" >
            <h4 class="text-center alert alert-info">Chapter Details</h4>
        <table class="table table-hover">
            <thead>
                <th>Subject Name</th>
                <th>Chapter ID</th>
                <th>Chapter Name</th>
                <th>Remembrance credit</th>
                <th>Applied Knowledge credit</th>
                <th>Understanding credit</th>
                <th>Chapter credit</th>
                <th>Action</th>
            </thead>
            <tbody>
            {% for obj in object %}
            <tr>
                <td>{{ obj.subject }}</td>
                <td>{{ obj.chapter_id }}</td>
                <td>{{ obj.chapter_name }}</td>
                <td>{{ obj.remembrance_credit }}</td>
                <td>{{ obj.applied_knowledge_credit }}</td>
                <td>{{ obj.understanding_credit }}</td>
                <td>{{ obj.chapter_credit }}</td>
                <td><a href="{% url 'MySchoolHome:modelobject_create_view' '1' '1' %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'MySchoolHome:modelobject_delete_view' 'StudentPerformance' 'subjectchapter' obj.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {%  endfor %}
            </tbody>
        </table>
        </div>
        </div>

{% endblock %}